<div class="page-header">
    <div class="well panelm"> 
        <h1>{{vm.album.name}}</h1>
    </div>



    <div class="well panelf">
     
            <h3> Dane albumu </h3>
            <p> Autor : {{vm.band.name}} </p>
            <p> Data stworzenia : {{vm.album.createdDate}} </p>
            <p> Opis: {{vm.album.description}}</p>
      
    </div>

    <div class="well panelf">
   
            <h3> Utwory </h3>

            <div class="" ng-repeat="item in vm.songs">
                <a ng-click="vm.showSong(item.id)">{{$index}} {{item.name}} </a>

            </div>
            <div class="text-center">
                <input type="button" ng-click="vm.addSong()" class="btn btn-primary" value="Dodaj utwór" /> 
            </div>
        
    </div>


</div>